.contact-header {
    padding: 1rem;
    background-color: rgb(244, 244, 244);
    border: 2px solid lightgray;
    border-bottom: none;
}

.contact-header h2 {
    display: inline;
}

.contact-header button {
    float: right;
}

.content {
    border: 2px solid lightgray;
    padding: 1rem;
}

