.contact-header {
    padding: 1rem;
}

.contact-header span {
    display: inline;
    font-size: 2.5rem;
    font-weight: bold;
}

.contact-header button {
    float: right;
}

.content {
    padding: 1rem;
}

